<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

<header>
  <nav id="navbar">
    <div >
      <a class="logo" href="/">Password Herder</a>
      <a class="nav_item" href="/new">Create New</a>
    </div>

    <!-- login form -->
    <% if (!email) { %>
      <div>
        <a class="login" href="/login">Login</a>
        <a class="login" href="/register">Register</a>
      </div>
    <!-- logout form -->
    <% } else { %>
      <form action ="/login/logout", method = "POST">
      <p> welcome: <%= email %> </p>
      <button type="submit" class="logout" >Logout</button>
      </form>
    <% }%>



      </nav>

</header>



      </nav>

