<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Website</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>

    </thead>
    <% for(let i = 0; i < passwords.length; i++) { %>
    <tbody id="passwords_container">
      <tr>
        <td><%= passwords[i].name %></td>
        <td><%= passwords[i].website_username %></td>
        <td><%= passwords[i].website_password %></td>
        <td><button>COPY</button></td>
        <td><button>EDIT</button></td>
        <td><button>DELETE</button></td>
      </tr>
    </tbody>
    <% } %>
  </table>
</body>

</html>
