

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>




  </head>

<body>
  <%- include('partials/_header') %>
  <main id="login_main">
    <h1 id="welcome_back">Welcome Back Partner!</h1>
    <form method="POST" action="/login" id="login_form">
      <div class="login_field">
        <label for="email">Email address</label>
        <input name="email" type="email" id="exampleInputEmail1" placeholder="Enter email">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="login_field">
        <label for="exampleInputPassword1">Password</label>
        <input name="password" type="password" id="exampleInputPassword1" placeholder="Password">
      </div>
      <!-- <div class="form-check">
        <input name="active" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <input type="submit" name="submit" value="Login" class="button">
    </form>
  </main>
 </body>

</html>
