<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new.scss" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <h3>PassWord Generator </h3>
  <div class="container">
    <p id="passwordBox"></p>
    <i class="far fa-clipboard" onclick="copyPassword()"></i>
  </div>

  <div>
    <label for="length">Password Length</label>
    <input type="number" id="pwdlength" min="8" max="15" value="8">
  </div>
  <div>
    <label for="lowerCase">Include Lowercase</label>
    <input type="checkbox" name="lowerCase" id="lowerCase">
  </div>
  <div>
    <label for="upperCase"> Include Uppercase</label>
    <input type="checkbox" name="upperCase" id="upperCase">
  </div>
  <div>
    <label>Include Numbers</label>
    <input type="checkbox" name="number" id="number">
  </div>
  <div>
    <label>Include Symbols</label>
    <input type="checkbox" name="symbols" id="symbols">
  </div>
  <span class="empty">Please select at least one of the options!!</span>
  <form action="/new" method="POST" >
      <button onclick="generatePassword()" class="btn btn-primary">Generate Password</button>
      <div>
        <label for="website_name">Website Name</label>
        <input name="web_name" type = "text" placeholder="website name">
      </div>

      <div>
        <label for="website_username">Website Username</label>
        <input name="website_username" type = "text" placeholder="website Username">
      </div>

      <div class="passwordBox">Your Password:</div>

      <div>
        <textarea name="text" id="pass-text"></textarea>
        <button id="copy" onclick="copy()">Copy</button>
        <button type="submit" class="btn btn-primary">Submit/Save</button>
  </div>
</form>
</body>

</html>
