/* BACKGROUND COLOR */
$background_color: rgb(71, 71, 71);


/* FONT */
$logo_font:'Brush Script MT', cursive;
$main_font:Bradley Hand, cursive;
$main_font_color: white;
$second_font_color: hotpink;


/* NAVBAR colors */
$nav_color: rgb(112, 112, 255);
$nav_item_color: yellow;
$nav_item_hover: rgb(255, 196, 67);

/*EDIT, COPY, DELETE, SAVE*/
$icon_color: white;
$icon_hover: black;

/* CATEGORY colors */
$job_color: yellow;
$job_hover: rgb(255, 255, 168);

$social_color: rgb(255, 176, 30);
$social_hover: rgb(255, 195, 116);

$education_color: orchid(255, 176, 30);
$education_hover: orchid(255, 195, 116);
