/* Palette */


/* BACKGROUND COLOR */
$background_color: rgb(71, 71, 71);


/* FONT */
$logo_font:'Brush Script MT', cursive;
$main_font:Bradley Hand, cursive;
$main_font_color: white;
$second_font_color: hotpink;


/* NAVBAR colors */
$nav_color: rgb(112, 112, 255);
$nav_item_color: yellow;
$nav_item_hover: rgb(255, 196, 67);

/*EDIT, COPY, DELETE, SAVE*/
$icon_color: rgb(255, 226, 65);
$icon_hover: rgb(53, 67, 255);

/* CATEGORY colors */
$job_color: rgb(61, 39, 255);
$job_hover: rgb(156, 149, 255);

$social_color: rgb(255, 176, 30);
$social_hover: rgb(255, 209, 148);

$education_color: rgb(255, 39, 248);
$education_hover: rgb(255, 200, 253);

$hobby_color: rgb(102, 255, 102);
$hobby_hover:rgb(221, 255, 221);

$entertainment_color: rgb(255, 81, 81);
$entertainment_hover:rgb(255, 202, 202);
