@import 'palette';

/* Index */

#organization {
  background-color: $background_color;
  color: $main_font_color;
  width: 90vw;
  text-shadow: 1px 1px #3d3aff;


  #organization_tabs {
    margin: 1em;
    background-color: $nav_item_color;
    color: $second_font_color;
    width: 20vw;
  }
  #table_container {
    display: flex;
    flex-direction: row;
    color: $main_font_color;
    padding: .5em, 1em, .5em, 1em;
    height: 10vh;

    #sidebar {
      display: flex;
      flex-direction: column;
      margin: .5em;

      .all {
        background-color: $main_font_color;
        border: none;
        text-shadow: 1px 1px #3d3aff;
      }
      .all:hover {
        background-color: $second_font_color;
        border: none;
      }

      .job {
        background-color: $job_color;
        border: none;
        color: white;
        text-shadow: 2px 2px #3d3aff;
      }
      .job:hover {
        background-color: $job_hover;
        border: none;
      }
      .social {
        background-color: $social_color;
        border: none;
        color: white;
        text-shadow: 2px 2px #3d3aff;
      }
      .social:hover {
        background-color: $social_hover;
        border: none;
      }
      .educational {
        background-color: $education_color;
        border: none;
        color: white;
        text-shadow: 2px 2px #3d3aff;
      }
      .educational:hover {
        background-color: $education_hover;
        border: none;
      }
      .hobby {
        background-color:$hobby_color;
        border: none;
        color: white;
        text-shadow: 2px 2px #3d3aff;
      }
      .hobby:hover {
        background-color: $hobby_hover;
        border: none;
      }
      .entertainment {
        background-color: $entertainment_color;
        border: none;
        color: white;
        text-shadow: 2px 2px #3d3aff;
      }
      .entertainment:hover {
        background-color: $entertainment_hover;
        border: none;
      }
    }
    table {
      margin: .5em;
      width: 100vw;
      text-shadow: 2px 2px #3d3aff;
      .job {
        background-color: $job_color;
      }
      .job:hover {
        background-color: $job_hover;
      }
      .social {
        background-color: $social_color;
      }
      .social:hover {
        background-color: $social_hover;
      }
      .educational {
        background-color: $education_color;
      }
      .educational:hover {
        background-color: $education_hover;
      }
      .hobby {
        background-color: $hobby_color;
      }
      .hobby:hover {
        background-color: $hobby_hover;
      }
      .entertainment {
        background-color: $entertainment_color;
      }
      .entertainment:hover {
        background-color: $entertainment_hover;
      }
      #copy {
        background-color: transparent;
        color: $icon_color;
        border: none;
        text-shadow: 2px 2px #3d3aff;
      }
      #copy:hover {
        color: $icon_hover;
        text-shadow: none;
      }
      #edit {
        background-color: transparent;
        color: $icon_color;
        border: none;
        text-shadow: 2px 2px #3d3aff;
      }
      #edit:hover {
        color: $icon_hover;
        text-shadow: none;
      }
      #delete {
        background-color: transparent;
        color: $icon_color;
        border: none;
        text-shadow: 2px 2px #3d3aff;
      }
      #delete:hover {
        color: $icon_hover;
        text-shadow: none;
      }
    }
  }
}
