@import 'palette';
header {
  font-family: $main_font;
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $nav_color;
    padding: 1em;
    text-shadow: 1px 1px #3d3aff;

    .logo {
      color: $second_font_color;
      background-color: $nav_item_color;
      text-decoration: none;
      font-family: $logo_font;
      font-size: 2em;
      padding: .5em;
    }
    .logo:hover {
      color: $nav_item_hover;
    }
    .nav_item {
      color: $second_font_color;
      background-color: $nav_item_color;
      text-decoration: none;
      margin: .5em;
      padding: .5em;
    }
    .nav_item:hover {
      color: $nav_item_hover;
    }
    .login {
      background-color: $nav_item_color;
      color: $second_font_color;
      text-decoration: none;
      padding: .5em;
    }
    .login:hover {
      background-color: $nav_item_hover;
    }
    #logout_email {
      display: flex;
      flex-direction: row;
      height: 5.5vh;
      p {
        margin: 1em;
      }
      .logout {
        background-color: $nav_item_color;
        color: $second_font_color;
        text-decoration: none;
        padding: .5em;
        border: none;
        text-shadow: 1px 1px #3d3aff;
      }
      .logout:hover {
        background-color: $nav_item_hover;

      }
    }
  }
}
