@import 'palette';
#register_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $main_font_color;
  #register_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .register_field {
      padding: .5em;
    }
    .button {
      background-color: $nav_item_color;
      color: $second_font_color;
      border: none;
      text-shadow: 1px 1px #3d3aff;
    }
    .button:hover {
      background-color: $nav_item_hover;
    }
  }
}
